<div class="main">
    <div class="container">
        <div class="navebar"></div>
    </div>
    <div class="container">
        <div class="carrosel">
            <div class="row" id="A">
                Benefícios
            </div>
            <div class="row" id="B">
                Site de fácil uso e de linguagem acessível, possibilitando que o usuário vá para qualquer parte em
                até dois clicks !
            </div>
            <div class="imagem"></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="BB"></div>
    </div>
    <div class="container-fluid" id="caixa">
        <div class="descricao">
            <div class="row" id="C">
                Vamos construir o futuro juntos ?
            </div>
            <div class="row" id="D">
                Este site tem como o objetívo de fortalecer as relações de empreiteiros com a MRV, disponibilizando
                oportunidades de trabalho e agilizando o processo administrativo !
            </div>
        </div>
    </div>
    <div class="container">
        <div class="descricao2">
            <div class="row" id="E">
                Sobre o projeto
            </div>
            <div class="row" id="F">
                Com um menu vivo e interativo de obras, você poderá facilmente encontrar locais para atuar,
                conseguindo filtrar as oportunidades por região e escolher aquela certa para você.
            </div>
        </div>
        <img src="/imagens/Institucional/crianca.webp" alt="crianca" width="500" height="333"> <img
            src="/imagens/Institucional/familia.webp" alt="crianca" width="500" height="333" id="samuel">

    </div>
    <div class="container">
        <div class="descricao3">
            <div class="row" id="G">
                Um pocuo sobre a MRV
            </div>
            <div class="row" id="H">
                Com mais de 40 anos de atuação no mercado imobiliário, a MRV levantou sua reputação como a maior
                construtora da América Latina através da sua alta performance, permeando 160 cidades com os seus
                serviçoes e acarretando em 120 mil imóveis entregados apenas nos últimos 3 anos.
                <br>
                Como um dos principais objetivos da empresa é diminuir o deficit de moradia no Brasil, a MRV oferece
                facilidade na compra, métodos de pagamento flexívies e parceria com os maiores bancos de
                financiamento imobiliário, que somado com o investimento em ações sustentáveis, projetos sociais,
                ações ambientais e incentivo ao esporte, proporcionará novas perspectivas a todos.
            </div>
        </div>
        <div id="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DDiqCQgsCWY"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

    </div>
    <div class="container6">
        <div class="imagem2"></div>
        <div class="imagem3"></div>
    </div>
    <div class="container7">
        <div class="footer"></div>
    </div>
</div>