<main class="col-8">
    <!--  Conteúdo principal da página  -->
    <h1>Administrador</h1>
    <div class="container">
        <center>


    <div class="col-12" id="input-group mb-3">
        <form method="post">
            <div class="row" id="row">
                <div class="col-12">
                    <label>Nome:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite o nome" aria-label="Username"
                        aria-describedby="basic-addon1" name="name" required>
                    <% if(error.name) { %>
                        <span class="incorrect-data"><%= error.name %></span>
                    <% } %>
                </div>
                <div class="col-6">
                    <label>E-mail:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite o e-mail:"
                        aria-label="Amount (to the nearest dollar)" name="email" required>
                    <% if(error.email) { %>
                        <span class="incorrect-data"><%= error.email %></span>
                    <% } %>
                </div>
                <div class="col-6">
                    <label>Senha:</label>
                    <br>
                    <input type="password" class="form-control" placeholder="Digite uma senha"
                        aria-label="Amount (to the nearest dollar)" name="password" required>
                    <% if(error.password) { %>
                        <span class="incorrect-data"><%= error.password %></span>
                    <% } %>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center" id="btn1">
                        <button class="btn btn-success" type="submit">Salvar</button>
                    </div>
                </div>
            </div>

        </form>

    </div>
    </center>
    <center>
    </center><br><br>
    </div>
</main>