<aside class="col-2 aside-filter">
    <form action="./" method="get">
        <h2>Filtros</h2>
        <section>
            <h3>Região</h3>
            <label for="state">Estado</label>
            <select name="state" id="state">
                <option value="selecione">Selecione</option>
                <option value="parana">Paraná</option>
                <option value="sao-paulo">São Paulo</option>
                <option value="minas-gerais">Minas Gerais</option>
                <option value="bahia">Bahia</option>
            </select>
            <label for="city">Cidade</label>
            <select name="city" id="city">
                <option value="selecione">Selecione</option>
                <option value="foz">Foz do Iguaçu</option>
                <option value="sao-paulo">São Paulo</option>
                <option value="bh">Belo Horizonte</option>
            </select>
        </section>
        <section>
            <h3>Tags</h3>
            <div class="selected-spans">
                <span>Pintor</span>
                <span>Eletricista</span>
            </div>
            <div class="unselected-spans">
                <span>Pintor</span>
                <span>Eletricista</span>
            </div>
        </section>
        <section>
            <h3>Pesquisa</h3>
            <label for="search">Pesquisa</label>
            <input type="search" name="search" id="search">
        </section>
        <button type="submit">Filtrar</button>
    </form>
</aside>