<footer>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3>Contato</h3>
                <ul>
                    <li><a href="https://www.mrv.com.br/">Site</a></li>
                    <li><a href="https://www.linkedin.com/company/mrvengenharia/">LinkedIn</a></li>
                    <li><a href="https://www.instagram.com/mrv/">Instagram</a></li>
                </ul>
            </div>
            <div class="col-6">
                <h3>Paginas</h3>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/institucional">Institucional</a></li>
                    <li><a href="/dashboard/">Dashboard</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>