    <div class="register-card-container">
        <div class="register-card">
            <div class="register-card-logo">
                <img src="/imagens/Logo-Gradiente.png" alt="Logo">
            </div>
            <div class="register-card-header">
                <h2>Mais algumas informações sobre a sua empresa...</h2>
            </div>
            <form class="register-card-form" method="post" action="">
                <div class="form-item">
                    <span>Número de Funcionários</span>
                    <input type="text" placeholder="Número de Funcionários" name="numFuncionarios" required autofocus>
                    <% if(error.numFuncionarios){%>
                        <span id="incorrect-data"><%= error.numFuncionarios %></span>
                    <% }%>
                </div>
                <div class="form-item">
                    <span>Telefone</span>
                    <input type="text" id="tel" placeholder="Digite seu Telefone" name="telEmpresa" maxlength="16" required>
                    <% if(error.telEmpresa){%>
                        <span id="incorrect-data"><%= error.telEmpresa %></span>
                    <% }%>
                </div>
                <button type="submit">Continuar</button>
            </form>
        </div>
    </div>
    <script>
        const tel = document.querySelector('#tel')

        tel.addEventListener('keypress', () => {
            let tel_length = tel.value.length

            if (tel_length === 0){
                tel.value += "("
            }else if (tel_length === 3){
                tel.value += ") "
            }else if (tel_length === 6){
                tel.value += " "
            }else if (tel_length === 11){
                tel.value += "-"
            }
        })
    </script>