<main class="col-10">
    <!--  Conteúdo principal da página  -->
    <div class="container">
        <h1>Dashboard</h1>
        <div class="row quantities">
            <div class="col-6"><span class="quantity">32</span><span class="description">Usuários Cadastrados</span>
            </div>
            <div class="col-6"><span class="quantity">10</span><span class="description">Obras Criadas</span></div>
        </div>
        <div class="row">
            <div class="col-6">
                <canvas id="chart1"></canvas>
            </div>
            <div class="col-6">
                <canvas id="chart2"></canvas>
            </div>
        </div>
    </div>
</main>